* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0 24px;
}

.logo-header-container {
    display: flex;
    align-items: center;
}

.nav-logo-header {
    font-size: 24px;
    font-weight: 500;
    color: #404040;
}

.nav-logo-header span {
    color: #B8B8B8;
    font-weight: 300;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.nav-item, a {
    color: #404040;
    text-decoration: none;
    padding-left: 16px;
}

/* Section 1 */

.section-1-container {
    display: flex;
    justify-content: space-between;
    background-color: #cccccc;
    align-items: center;
}

.section-1-img-container {
    width: 60%;
    padding: 32px 24px;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-1-section {
    display: flex;
    flex-direction: column;
    color: #404040;
    margin-right: 60px;
    width: 40%;
}

.section-1-header {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
}

.section-1-subheader {
    font-weight: 600;
    margin-bottom: 16px;
}

.section-1-bttn {
    padding: 8px;
    color: white;
    background-color: #404040;
    border: 0;
}

/* Section 2 */

.section-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #404040;
}

.section-2-img-container {
    width: 60%;
    padding: 32px 24px;
}

.section-2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-2-card-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section-2-card {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-2-card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.section-2-card-info {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.section-2-card-head {
    font-weight: 600;
}

.section-2-card-text {
    white-space: nowrap;
    font-size: ;
}