* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0 24px;
}

.logo-header-container {
    display: flex;
    align-items: center;
}

.nav-logo-header {
    font-size: 24px;
    font-weight: 500;
}

.nav-logo-header span {
    color: #B8B8B8;
    font-weight: 300;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.nav-item, a {
    text-decoration: none;
    padding-left: 16px;
    color: #333;
}

/* Section 1 */

.section-1-container {
    display: flex;
    background-color: #cccccc;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-1-img-container {
    width: 60%;
    height: 100%;
    padding: 32px 24px;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-1-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.section-1-header {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
}

.section-1-subheader {
    font-weight: 600;
    margin-bottom: 16px;
}

.section-1-bttn {
    padding: 8px;
    color: white;
    background-color: #404040;
    border: 0;
}

/* Section 2 */

.section-2-container {
    display: flex;
}

.section-2-img-container {
    width: 60%;
    height: 100%;
    padding: 32px 24px;
    border-right: 1px solid #cccccc;
}

.section-2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 32px;
}

.section-2-info h3 {
    margin-bottom: 24px;
}

.section-2-info p {
    font-size: 12px;
    margin-bottom: 32px;
    font-weight: 300;
}

.section-2-card-container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    width: 40%;
    height: 100%;
}

.section-2-card {
    display: flex;
    align-items: center;
    padding: 16px;
}

.section-2-card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.section-2-card-info {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.section-2-card-head {
    font-weight: 600;
    white-space: nowrap;
    padding: 4px;
}

.section-2-card-text {
    padding: 4px;
    font-size: 14px;
}

.section-2-card a {
    color: #3366cc;
    font-size: 14px;
}

.section-2-card:nth-child(1) {
    border-bottom: 1px solid #cccccc
}

.section-2-card:nth-child(3) {
    background-color: #cccccc;
}

/* Section 3 */

.section-3-container {
    display: flex;
    background-color: #cccccc;
}