* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0 24px;
}

.logo-header-container {
    display: flex;
    align-items: center;
}

.nav-logo-header {
    font-size: 24px;
    font-weight: 500;
}

.nav-logo-header span {
    color: #B8B8B8;
    font-weight: 300;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.nav-item, a {
    text-decoration: none;
    padding-left: 16px;
    color: #333;
}

@media (max-width: 450px) {
    .nav-logo-header {
        display: none;
    }
    .nav-item span {
        display: none;
    }
    .nav-item:nth-child(1) {
        background-image: url(../images/ic-on-campus.svg);
        background-repeat: no-repeat;
        padding-left: 5rem;
    }
    .nav-item:nth-child(2) {
        background-image: url(../images/ic-online.svg);
        background-repeat: no-repeat;
        padding-right: 5rem;
    }
    .nav-item:nth-child(3) {
        background-image: url(../images/ic-login.svg);
        background-repeat: no-repeat;
    }
}

/* Section 1 */

.section-1-container {
    display: flex;
    background-color: #cccccc;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-1-img-container {
    width: 60%;
    height: 100%;
    padding: 32px 24px;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-1-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.section-1-header {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
}

.section-1-subheader {
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 20px;
}

.section-1-bttn {
    padding: 8px;
    color: floralwhite;
    background-color: #404040;
    border: 0;
    font-size: 20px;
}

@media (max-width: 450px) {
    .section-1-container {
        flex-direction: column;
    }
    .section-1-img-container {
        padding: 0px;
        width: 100%;
    }
    .section-1-section {
        width: 100%;
        padding: 32px 16px;
    }
    .section-1-header {
        margin-bottom: 32px;
    }
    .section-1-subheader {
        margin-bottom: 24px;
    }
}

/* Section 2 */

.section-2-container {
    display: flex;
}

.section-2-img-container {
    width: 60%;
    height: 100%;
    padding: 32px 24px;
    border-right: 1px solid #cccccc;
}

.section-2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 32px;
}

/* Used in section 4 */

.info h3 {
    margin-bottom: 24px;
}

.info p {
    font-size: 12px;
    margin-bottom: 32px;
    font-weight: 300;
}

.horizontal-card-container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    width: 40%;
    height: 100%;
}

.horizontal-card {
    display: flex;
    align-items: center;
    margin: 16px;
}

.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 16px;
}

.card-info h3 {
    font-weight: 600;
    padding: 4px;
}

.card-info p {
    padding: 4px;
    font-weight: 300;
    font-size: 11px;
}

.section-2-card a {
    color: #3366cc;
    font-size: 14px;
}

.horizontal-card:nth-child(1) {
    border-bottom: 1px solid #cccccc;
}

.horizontal-card:nth-child(3) {
    background-color: #cccccc;
}

@media (max-width: 450px) {
    .section-2-img-container {
        display: none;
    }
    .horizontal-card-container {
        width: 100%;
        margin-bottom: 32px;
    }
    .horizontal-card:nth-child(-n+3) {
        background-color: white;
        flex-direction: column;
        border-bottom: none;
    }
    .card-img:nth-child(-n+3) {
        background-size: auto 100%;
    }
    .card-info:nth-child(-n+3) {
        width: 100%;
    }
}

/* Section 3 */

.section-3-container {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    height: 100%;
    width: 100%;
}

.section-3-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 72px;
    height: auto;
    width: auto;
}

.section-3-container h2 {
    align-self: center;
    padding-top: 32px;
}

.section-3-card img {
    max-width: 100%;
    max-height: auto;
}

.section-3-card {
    background-color: whitesmoke;
    margin-right: 32px;
    margin-bottom: 32px;
    padding-bottom: 24px;
    width: 100%;
    height: 100%;
    flex: 1 1 24%;
}

.section-3-card-text {
    padding: 16px 0px 0px 16px;
}

.section-3-card-text h4 {
    padding-bottom: 8px;
}

.section-3-card-text h6 {
    padding-bottom: 8px;
    font-weight: 200;
    font-size: 14px;
}

.section-3-card p {
    font-size: 12px;
}

@media (max-width: 450px) {
    .section-3-card img {
        display: none;
    }
    .section-3-card-text h6, p {
        display: none;
    }
    .section-3-container {
        background-color: white;
        margin: 0px;
        padding: 0;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .section-3-card {
        background-color: #ccc;
        margin: 8px;
        padding: 0px;
        align-content: flex-start;
    }
    .section-3-card-container {
        flex-direction: column;
        margin: 16px;
        padding: 0px;
    }
    .section-3-card-text h4 {
        font-size: 24px;
        padding: 16px 0px 24px 16px;
    }
}

/* Section 4 */

.section-4-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 24px;
    margin-top: 32px;
    height: 100%;
    width: 100%;
}

.section-4-container h2 {
    align-self: center;
}

.section-4-row2 {
    display: flex;
    margin: 32px 0px;
}

.video-container {
    max-width: 60%;
    height: auto;
    padding-right: 24px;
}

.video-container video {
    max-width: 100%;
    margin-bottom: 24px;
}

#section-4 {
    border: none;
    background-color: #cccccc;
    padding-top: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin: 0;
    padding-left: 24px;
    border-top: 1px solid #cccccc;
    font-size: 9px;
    font-weight: 300;
}

.footer-list {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    padding-right: 16px;
}

.footer-item, a {
    text-decoration: none;
}