*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0 24px;
}
.logo-header-container{
    display: flex;  
    align-items: center;
}
.nav-logo-header{
    font-size: 24px;
    font-weight: 500;
    color:	#585858;
}
.nav-logo-header span{
    color:	#B8B8B8;
    font-weight: 300;
}
.nav-list{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}
.nav-item,a{
     color: #888888;
     text-decoration: none;
    padding-left:16px ;
}
.start-here-container{
    display: flex;
    justify-content: space-between;
    background-color: #cccccc;
}
.start-here-img-container{
    width: 60%;
    padding: 32px 24px;
}
.start-here-section{
  
}
.banner-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


